/***************
SEARCH
***************/

.search {
	margin-top: 50px;
}

.search h1 {
	@include mobile {
		float: left;
		font-size: 1em;
		padding-left: 10px;
		margin-top: 30px;
	}
	@include mobile2 {
		padding-left: 25px;
	}
	@include tablet{
		padding-left: 20px;
		font-size: 1.5em;
	}
}

.search_div {
	@include mobile {
		background-color: $light_grey;
		width: 60%;
		float: right;
	}
	@include tablet {
		width: 80%;
		height: 80px;
	}
}

input[id="search"] {
	@include mobile {
		position: absolute;
		right: 0;
		width: 100px;
		float: right;
		margin-top: 27px;
		margin-right: 20px;
		background: url("../img/icon_search.png") no-repeat;
		background-position: 75px 3px;
		background-color: $white;
	}
	@include tablet {
		width: 300px;
		margin-top: 33px;
		background-position: 275px 3px;
	}
}


/***************
LINEAR CHART
***************/

.linear_chart {
	width: 100%;
	margin: 30px 0;
	text-align: center;
}

p.traffic {
	@include mobile {
		display: block;
		width: 100%;
		text-align: center;
	}
	@include tablet {
		padding-left: 40px;
		width: 100px;
		float: left;
	}
}

.btn_div {
	@include mobile {
		display: block;
		width: 100%;
	}
	@include tablet {
		float: right;
		width: 400px;
		padding-right: 30px;
		padding-top: 15px;
	}
}

#chart {
	width: 95%;
	height: 200px;
}



/***************
BAR / PIE CHART
***************/

.barpie_chart {
	@include mobile {
		border: none;
	}
	@include tablet {
		border-top: 2px solid $light_grey;
		border-bottom: 2px solid $light_grey;
	}
}

#barChart_div {
	@include mobile {
		border-right: none;
	}
	@include tablet {
		border-right: 2px solid $light_grey;
	}
}

#barChart_div,
#pieChart_div {
	@include mobile {
		display: block;
		width: 90%;
		float: left;
	}
	@include tablet {
		padding: 20px; 
		padding-left: 40px;
		width: 49.7%;
	}
}

p.dailyTraffic,
p.mobileUsers {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
	}
}



/***************
SOCIAL DIV
***************/

#social_div {
	display: block;
	clear: both;
	padding: 30px 0;
}

.social {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
		padding-left: 40px;
	}
}

.social_ul {
	@include mobile {
		padding-left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	@include tablet {
		padding-left: 60px;
	}
}

.social_li {
	@include mobile {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 90%;
		height: 130px;
		border-radius: 40px;
		background: $light_grey;
		margin: 10px;
	}
	@include mobile2 {
		width: 75%;
		margin-left: 10%;
	}
	@include tablet {
		margin-left: 4%;
		width: 40%;
	}
	@include desktop {
		width: 27%;
	}
}

svg {
	display: block;
	fill: $white;
	width: 60px;
}

.social_div {
	height: 65px;
	width: 65px;
	border-radius: 100%;
	background: $violet;
	position: relative;
	top: 30px;
	left: 10px;
}

#instagram {
	position: relative;
	top: 13px;
	right: -3px;
}

circle {
	fill: $violet;
}

.text {
	@include mobile {
		color: $violet;
		display: inline-block;
		width: 60%;
		text-align: left;
		font-size: 1em;
		padding-left: 30px;
		padding-top: 30px;
		margin-bottom: 0;
	}
	@include mobile2 {
		text-align: center;
		font-size: 1.2em;
		padding-top: 15px;
	}
	@include desktop {
		text-align: left;
		padding-left: 40px;
	}
}

.number {
	@include mobile {
		color: $grey;
		display: inline-block;
		margin-top: 5px;
		text-align: left;
		font-weight: normal;
		margin: 0 auto;
		font-size: 1.5em;
	}
	@include mobile2 {
		text-align: center;
		font-size: 2em;
	}
	@include desktop {
		text-align: left;
	}
}



/***************
MEMBERS DIV AND ACTIVITY
***************/

.members {
	@include mobile {
		border: none;
		margin-bottom: 20px;
	}
	@include tablet {
		border-top: 2px solid $light_grey;
		border-bottom: 2px solid $light_grey;
		margin-bottom: 0;
	}
}

.members_div {
	@include mobile {
		border-right: none;
	}
	@include tablet {
		border-right: 2px solid $light_grey;
	}
}

.members_div,
.activity_div {
	@include mobile {
		float: left;
		margin: 0;
		width: 95%;
	}
	@include tablet {
		width: 49.9%;
		padding: 0 20px;
	}
}

.activity_div {
	@include mobile {
		padding-top: 30px;
	}
	@include tablet {
		padding-top: 0;
	}
}

.members_table,
.activity_table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	text-align: left;
	padding: 10px 0 20px 20px;;
	padding-bottom: 20px;
}

tr {
	width: 100%;
	height: 75px;
	padding: 10px 0;
	border-bottom: 2px solid $light_grey;
}

.last {
	@include mobile {
		border-bottom: 2px solid $light_grey;
	}
	@include tablet {
		border-bottom: none;
	}
}

table a {
	@include mobile {
		color: $violet;
		font-size: 0.8em;
	}
	@include mobile2 {
		font-size: 1em;	
	}
}

.member_name,
.activity_time,
td {
	@include mobile {
		font-size: 0.9em;
	}
	@include mobile2 {
		font-size: 1em;
	}
}

.member_icon {
	@include mobile {
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}
	@include mobile2 {
		width: 45px;
		height: 45px;
	}
}

.social_member {
	background: $violet;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin-right: 12px;
}

.social_cell {
	@include mobile {
		display: none;
	}
	@include tablet {
		display: table-cell;
	}
}


/***************
FORM DIV AND SETTING
***************/

.form_div,
.settings_div {
	@include mobile {
		float: left;
		margin: 0;
		width: 95%;
	}
	@include tablet {
		width: 49.9%;
		padding: 0 20px 20px 20px;
	}
}

.form_div {
	@include tablet {
		border-right: 2px solid $light_grey;
	}
}

fieldset {
	border: none;
}

legend {
	padding-top: 20px;
	padding-left: 5px;
}

input[class="search_member"] {
	width: 100%;
	height: 30px;
	border-radius: 5px;
	border: 2px solid $light_grey;
	margin: 10px;
	margin-left: 5px;
}

textarea {
	width: 100%;
	height: 80px;
	border-radius: 5px;
	border: 2px solid $light_grey;
	margin: 10px;
	margin-left: 5px;
}


.settings {
	padding: 5px 0 10px 20px;
	margin: 0;
}

.send_email,
.set_profile {
	@include mobile {
		display: inline-block;
		width: 68%;
		float: left;
		padding-left: 10px;
	}
	@include tablet {
		width: 50%;
	}
}

.message_set,
.public {
	height: 35px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.timezone_div {
	@include mobile {
		margin-left: 4%;
		margin-top: 10px;
	}
	@include tablet {
		margin-left: 2%;
	}
}

.timezone {
	width: 95%;
	height: 30px;
	border: 2px solid $light_grey;
}

.button_div {
	@include mobile {
		margin-top: 18px;
		padding-left: 10%;
	}
	@include tablet {
		padding-left: 15;
	}
}






