/***************
SEARCH
***************/

.search {
	display: inline-block;
	margin-top: 50px;
	width: 100%;
}

.search h1 {
	@include mobile {
		float: left;
		font-size: 1em;
		margin-top: 30px;
	}
	@include tablet{
		font-size: 1.5em;
	}
}

.search_div {
	@include mobile {
		background-color: $light_grey;
		width: 60%;
		float: right;
	}
	@include tablet {
		width: 82%;
		height: 80px;
	}
}

input[id="search"] {
	@include mobile {
		position: absolute;
		right: 0;
		width: 100px;
		float: right;
		margin-top: 27px;
		margin-right: 20px;
		background: url("../img/icon_search.png") no-repeat;
		background-position: 75px 3px;
		background-color: $white;
	}
	@include tablet {
		width: 300px;
		margin-top: 33px;
		background-position: 275px 3px;
	}
}


/***************
LINEAR CHART
***************/

.linear_chart {
	width: 100%;
	margin: 30px 0;
	text-align: center;
}

p.traffic {
	@include mobile {
		display: block;
		width: 100%;
		text-align: center;
	}
	@include tablet {
		width: 100px;
		float: left;
	}
}

.btn_div {
	@include mobile {
		display: block;
		width: 100%;
	}
	@include tablet {
		float: right;
		width: 400px;
		padding-right: 30px;
		padding-top: 15px;
	}
}

#chart {
	display: inline-block;
	width: 95%;
	height: 200px;
}



/***************
BAR PIE CHART
***************/

#barChart_div,
#pieChart_div {
	@include mobile {
		display: block;
		width: 95%;
		float: left;
	}
	@include tablet {
		padding: 20px;
		width: 49.7%;
		border: 2px solid $light_grey;
	}
}

p.dailyTraffic,
p.mobileUsers {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
	}
}



/***************
SOCIAL DIV
***************/

#social_div {
	display: block;
	width: 100%;
	clear: both;
	padding: 40px 0;
}

.social {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
		padding-left: 20px;
	}
}

.social_ul {
	@include mobile {
		padding-left: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	@include tablet {
		padding-left: 40px;
	}
}

.social_li {
	@include mobile {
		display: flex;
		flex-wrap: wrap;
		width: 95%;
		height: 130px;
		border-radius: 40px;
		background: $light_grey;
		margin: 10px;
	}
	@include mobile2 {
		width: 75%
	}
	@include tablet {
		width: 40%;
	}
	@include desktop {
		width: 31%;
	}
}

svg {
	display: block;
	fill: $white;
	width: 60px;
}

.social_div {
	display: inline-block;
	height: 65px;
	width: 65px;
	border-radius: 100%;
	background: $violet;
	position: relative;
	top: 30px;
	left: 10px;
}

#instagram {
	position: relative;
	top: 13px;
	right: -3px;
}

circle {
	fill: $violet;
}

.text {
	@include mobile {
		color: $violet;
		display: inline-block;
		width: 70%;
		text-align: center;
		font-size: 1em;
		padding-left: 20px;
		padding-top: 10px;
		margin-bottom: 0;
	}
	@include tablet {
		font-size: 2em;
	}
}

p.number {
	@include mobile {
		color: $grey;
		display: inline-block;
		width: 70%;
		margin-top: 5px;
		text-align: center;
		font-weight: normal;
		margin: 0 auto;
		padding-left: 20px;
		font-size: 1.5em;
	}
	@include tablet {
		font-size: 2em;
	}
}



/***************
MEMBERS DIV AND ACTIVITY
***************/

.members_div,
.activity_div {
	@include mobile {
		display: inline-block;
		float: left;
		margin: 5px 0 20px 0;
		width: 95%;
	}
	@include tablet {
		width: 49.7%;
		border: 2px solid $light_grey;
	}
}

.members_table,
.activity_table {
	border-collapse: collapse;
	width: 100%;
}

caption {
	text-align: left;
	padding: 10px 0 20px 20px;;
	padding-bottom: 20px;
}

tr {
	width: 100%;
	height: 75px;
	padding: 10px 0;
	border-bottom: 2px solid $light_grey;
}

.last {
	@include mobile {
		border-bottom: 2px solid $light_grey;
	}
	@include tablet {
		border-bottom: none;
	}
}

table a {
	@include mobile {
		color: $violet;
		font-size: 0.8em;
	}
	@include mobile2 {
		font-size: 1em;	
	}
}

.member_name,
.activity_time,
td {
	@include mobile {
		font-size: 0.9em;
	}
	@include mobile2 {
		font-size: 1em;
	}
}


.member_icon {
	@include mobile {
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}
	@include mobile2 {
		width: 45px;
		height: 45px;
	}
}


/***************
MEMBERS DIV
***************/



.social_member {
	background: $violet;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin-right: 12px;
}

.social_cell {
	@include mobile {
		display: none;
	}
	@include tablet {
		display: table-cell;
	}
}












