/***************
SEARCH
***************/

.search {
	display: inline-block;
	margin-top: 50px;
	width: 100%;
}

.search h1 {
	@include mobile {
		float: left;
		font-size: 1em;
		margin-top: 30px;
	}
	@include tablet{
		font-size: 1.5em;
	}
}

.search_div {
	@include mobile {
		background-color: $light_grey;
		width: 60%;
		float: right;
	}
	@include tablet {
		width: 82%;
		height: 80px;
	}
}

input[id="search"] {
	@include mobile {
		position: absolute;
		right: 0;
		width: 100px;
		float: right;
		margin-top: 27px;
		margin-right: 20px;
		background: url("../img/icon_search.png") no-repeat;
		background-position: 75px 3px;
		background-color: $white;
	}
	@include tablet {
		width: 300px;
		margin-top: 33px;
		background-position: 275px 3px;
	}
}


/***************
LINEAR CHART
***************/

.linear_chart {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

p.traffic {
	@include mobile {
		display: block;
		width: 100%;
		text-align: center;
	}
	@include tablet {
		width: 100px;
		float: left;
	}
}

.btn_div {
	@include mobile {
		display: block;
		width: 100%;
	}
	@include tablet {
		float: right;
		width: 350px;
		padding-right: 30px;
		padding-top: 15px;
	}
}





