/***************
LINEAR CHART
***************/

button {
	background: transparent;
	width: 75px;
	height: 30px;
	border-radius: 15px;
	border: none;
	text-align: center;
	font-weight: normal;
}

button:hover {
	border: 2px solid $light_grey;
	background: $light_green;
}

button:focus {
	border: 2px solid $light_grey;
	background: $light_green;
}

button.selected {
	border: 2px solid $light_grey;
	background: $light_green;
}