/***************
GENERAL
***************/

body,
h1,
p {
	color: $grey;
}

li {
	color: $white;
}

/***************
LOGO
***************/

.logo {
	color: $white;
}

.bold {
	@include mobile {
		font-size: 1.2em;
		font-weight: bold;
	}
	@include tablet {
		font-size: 1.6em;
	}
}

.light {
	@include mobile {
		font-size: 0.7em;
		font-weight: light;
	}
	@include tablet {
		font-size: 1em;	
	}
}



/***************
HEADER
***************/

li.name {
	@include mobile {
		font-size: 0.8em;
	}
	@include mobile2 {
		font-size: 1em;
	}
}

.search h1 {
	@include mobile {
		float: left;
		font-size: 1em;
		padding-left: 10px;
		margin-top: 30px;
	}
	@include mobile2 {
		padding-left: 25px;
		font-size: 1.5em;
	}
	@include tablet{
		padding-left: 20px;
	}
}



/***************
LINEAR CHART
***************/


p.traffic {
	@include mobile {
		display: block;
		width: 100%;
		text-align: center;
	}
	@include tablet {
		padding-left: 40px;
		width: 100px;
		float: left;
	}
}



/***************
BAR / PIE CHART
***************/

p.dailyTraffic,
p.mobileUsers {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
	}
}


/***************
SOCIAL DIV
***************/

.social {
	@include mobile {
		text-align: center;
	}
	@include tablet {
		text-align: left;
		padding-left: 40px;
	}
}

.text {
	@include mobile {
		color: $violet;
		display: inline-block;
		width: 60%;
		text-align: left;
		font-size: 1em;
		padding-left: 30px;
		padding-top: 30px;
		margin-bottom: 0;
	}
	@include mobile2 {
		text-align: center;
		font-size: 1.2em;
		padding-top: 15px;
	}
	@include desktop {
		text-align: left;
		padding-left: 40px;
	}
}

.number {
	@include mobile {
		color: $grey;
		display: inline-block;
		margin-top: 5px;
		text-align: left;
		font-weight: normal;
		margin: 0 auto;
		font-size: 1.5em;
	}
	@include mobile2 {
		text-align: center;
		font-size: 2em;
	}
	@include desktop {
		text-align: left;
	}
}



/***************
ACTIVITY LOG
***************/

.arrow {
	font-size: 2em;
	color: $violet;
}



/***************
FORM DIV AND SETTING
***************/

legend {
	padding-top: 20px;
	padding-left: 5px;
}

p.setting {
	@include mobile {
		padding: 20px 0 10px 20px;
		margin: 0;
	}
	@include tablet {
		padding-bottom: 0px;
	}
}

